@import "tailwindcss";

@theme {
    --color-primary: rgba(255, 214, 10, 1);
    --color-secondary: rgba(255, 255, 255, 1);
    --color-tertiary: rgba(255, 255, 255, 0.7);
    --color-bgprimary: rgba(0, 0, 0, 1);
    --color-bgsecondary: rgba(26, 26, 26, 1);
    --color-borderprimary: rgba(53, 53, 53, 1);
    
    --font-mr:"Manrope", sans-serif;
}

:root {
    --color-primary: rgba(255, 214, 10, 1);
    --color-secondary: rgba(255, 255, 255, 1);
    --color-tertiary: rgba(255, 255, 255, 0.7);
    --color-bgprimary: rgba(0, 0, 0, 1);
    --color-bgsecondary: rgba(26, 26, 26, 1);
    --color-borderprimary: rgba(53, 53, 53, 1);
    
    --font-mr:"Manrope", sans-serif;

    --swiper-theme-color: #FFD60A;  /* Black dots, arrows, etc */
  }
  
  
  
  body {
    background-color: var(--color-bgprimary);
  }
  
  hr {
    border: none;
    height: 0.5px;
    background-color: var(--color-borderprimary);
  }
  
  body::-webkit-scrollbar, .img-scroll-container::-webkit-scrollbar,
  .scroll-container::-webkit-scrollbar {
    width: 4px;
    background-color: var(--color-bgprimary);
  }
  
  body::-webkit-scrollbar-thumb, .img-scroll-container::-webkit-scrollbar-thumb,
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
  }
  
  body::-webkit-scrollbar-thumb:hover , .img-scroll-container::-webkit-scrollbar-thumb:hover,
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-tertiary);
    cursor: pointer;
  }


  /* === Swiper Navigation Custom Overrides === */

/* Remove default font-based arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
  font-size: 0 !important;
}

/* Disable default sizing/positioning */
.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 36px !important;
  height: 36px !important;
  margin-top: 0 !important;
  color: inherit !important;
}

/* Ensure your SVG behaves nicely */
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
  /* flex-shrink: 0; */
}

/* Optional: kill RTL transforms if you don’t need them */
.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
  transform: none !important;
}

/* Optional: Position overrides */
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0 !important;
  right: auto !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0 !important;
  left: auto !important;
}
