---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
const pageDescription =
  "Richmann - Design Engineer - designing clean, thouhtful user experiences and building the tech bringing those experiences to life.";
const ogURL = "https://design.richmnn.com/blog";
const keywords =
  "Richmann Addai, software engineer, design engineer, web development, product designer, UI/UX design, technology solutions, user experiences, entrepreneurial projects, Utopia Tech, personal projects, software development, design and development, software products";
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  ogURL={ogURL}
  keywords={keywords}
>
  <div slot="secondColumn">
    <!-- Second Column (Brief Intro Text) -->
    <div class="w-full">
      <p class="w-full text-primary">
        Here, you’ll find documented systems, principles, and decisions behind
        the work I do and not just the outcomes. <br />
        <br />
        Writing helps me distill ideas, challenge assumptions, and leave a trail
        others can follow. If you build things, lead teams, or care about craft,
        there’s likely something here for you.
      </p>
    </div>
  </div>
  <div slot="thirdColumn">
    <!-- Third column (list of blog posts-->
    <div class="w-full">
      <!-- Coming Soon Flag -->
      <div
        class="w-full p-[32px] flex flex-col gap-[4px] items-start border-[0.5px] border-bdprimary"
      >
        <h2 class="text-primary">Thoughts are turning into sentences. Almost ready to share. Coming Soon</h2>
      </div>
    </div>
  </div>
</BaseLayout>
