---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
const pageDescription =
  "Richmann - Design Engineer - designing clean, thouhtful user experiences and building the tech bringing those experiences to life.";
const ogURL = "https://design.richmnn.com/contact";
const keywords =
  "Richmann Addai, software engineer, design engineer, web development, product designer, UI/UX design, technology solutions, user experiences, entrepreneurial projects, Utopia Tech, personal projects, software development, design and development, software products";
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  ogURL={ogURL}
  keywords={keywords}
>
  <div slot="secondColumn">
    <!-- Second Column (Brief Intro Text) -->
    <div class="w-full">
      <p class="w-full text-primary">
        Let’s talk. Or build something.

        <br />
        <br />
        I’m open to good work, great people, and honest conversations.
        Reach out.
      </p>
    </div>
  </div>
  <div slot="thirdColumn">
    <!-- Third column (list of links) -->
    <div class="w-full">

      <!-- Mail -->
      <a
        href="mailto:richmanaddai@gmail.com"
        class="w-full p-[32px] flex items-center justify-between border-[0.5px] border-bdprimary text-primary hover:border-primary"
      >
        <p>Mail</p>
        <p>richmanaddai@gmail.com</p>
      </a>
      <!-- LinkedIn -->
      <a
        href="https://linkedin.com/in/richmnn"
        target="_blank"
        class="w-full p-[32px] flex items-center justify-between border-[0.5px] border-bdprimary text-primary hover:border-primary"
      >
        <p>LinkedIn</p>
        <p>linkedin.com/in/richmnn</p>
      </a>
      <!-- GitHub -->
      <a
        href="https://github.com/Bigrichh"
        target="_blank"
        class="w-full p-[32px] flex items-center justify-between border-[0.5px] border-bdprimary text-primary hover:border-primary"
      >
        <p>Github</p>
        <p>github.com/Bigrichh</p>
      </a>
      <!-- Instagram -->
      <a
        href="https://instagram.com/big.richhhh"
        target="_blank"
        class="w-full p-[32px] flex items-center justify-between border-[0.5px] border-bdprimary text-primary hover:border-primary"
      >
        <p>Instagram</p>
        <p>instagram.com/big.richhhh</p>
      </a>
    </div>
  </div>
</BaseLayout>
