---

---

<div
  class="w-full h-full p-[32px] flex flex-col justify-between border-[0.5px] border-bdprimary"
>
  <!-- User info -->
  <div class="w-full flex flex-col gap-[4px]">
    <h2 class="text-primary">Richmann Addai</h2>
    <!-- Email address with hover effect -->
    <a href="mailto:richmanaddai@gmail.com" target="_blank" class="text-secondary hover:text-primary">richmanaddai@gmail.com</a>
  </div>
  <!-- Navigation links-->
  <div class="w-full flex flex-col gap-[4px]">
    <a href="/" class="text-secondary hover:text-primary">Work</a>
    <a href="/about" class="text-secondary hover:text-primary">About</a>
    <a href="/blog" class="text-secondary hover:text-primary">Blog</a>
    <a href="/rinterest" class="text-secondary hover:text-primary">Rinterest</a>
    <a href="/contact" class="text-secondary hover:text-primary">Contact</a>
  </div>
</div>
