---
const { src, alt, label, showLabel } = Astro.props;
---

<div
  class="relative w-full h-fit xl:w-[810px] xl:h-[600px] self-center rounded-[4px] overflow-hidden"
>
  <img class="w-full h-full object-cover" src={src} alt={alt} />
  {
    showLabel && 
      <div class="font-semibold text-secondary text-[10px] md:text-[14px] absolute top-0 md:top-[16px] left-[50%] translate-x-[-50%] py-[8px] md:px-[8px] md:py-[16px] flex items-center gap-[4px]">
        <p>{label}</p>
      </div>
    
  }
</div>
