---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ImageDisplay from "../../components/ImageDisplay.astro";
import SilverbirdSlidePreview1 from "../../components/silverbird/SilverbirdSlidePreview1.astro";
import SilverbirdSlidePreview2 from "../../components/silverbird/SilverbirdSlidePreview2.astro";
import SilverbirdSlidePreview3 from "../../components/silverbird/SilverbirdSlidePreview3.astro";
const pageTitle = "case study for silverbird cinemas";
const gap = 16;
---

<BaseLayout pageTitle={pageTitle} gap={gap}>
  <!-- Header -->
  <div class="w-full text-[16px]">
    <p class="italic text-tertiary">2025</p>
    <h1 class="text-secondary font-mr font-semibold md:text-nowrap">
      Silverbird Cinemas — A redesign concept. Standing ovation. Anyone?
    </h1>
  </div>

  <!-- Main Image -->
  <ImageDisplay
    src="/work-images/silverbird/silverbird.webp"
    alt="Silverbird image"
    label=""
    showLabel={false}
  />

  <!-- Could the old site be better? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Could the old site be better?</h2>
      <p class="text-tertiary">
        Look, nobody goes to the cinema just for the info. It’s the lights, the
        sound, the drama. But Silverbird’s old site? All info, no vibe. It
        didn’t sell the experience - it just listed it. Silverbird’s in-person
        experience is premium, but the website? Meh. So I set out to fix that -
        to make the site feel like the trailer to a great night out. More
        feeling, less digging. Fewer clicks, more “ooh what’s showing?”
      </p>
      <div class="flex self-center w-full xl:w-fit">
        <SilverbirdSlidePreview1 />
      </div>
    </div>
  </div>

  <!-- Did you do any research? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Did you do any research?</h2>
      <p class="text-tertiary">
        Absolutely. I needed a clear understanding of what users wanted and why
        so many cinema sites still looked like they were coded when WhatsApp had
        a subscription. <br /> I kicked things off with a Discovery Phase (fancy
        way of saying I asked some questions and made some observations). I studied
        what the competition was doing, what Silverbird’s site was not doing, and
        what users were quietly suffering through. Most platforms? All flash, somewhat
        okay function. The ones that looked great on desktop fell apart on mobile.
        Checkout flows felt like filing taxes. And trailers? Hidden like post-credit
        scenes. <br /> I broke down the competition: <br /> Taking lessons and opportunities
        from Vue Cinemas, Cineplex and Genesis Cinemas. I peaked at platforms like
        Netflix and Apple TV to see how the pros show content and move users from
        “ooh, this looks good” to “take my money please.” <br /><br /> I also mapped
        out four main audience types: <br />
        The Chill Scroller – just wants to see what’s playing without going past
        3 clicks. <br /> The Over-Planner – low-key building a whole date itinerary
        around this. <br /> The Movie Nerd – if IMDb had a human form. <br /> The
        First-Timer – needs a “Start Here” button and possibly a hug. <br />
        <br /> The big takeaway? People want less effort, more excitement. So I designed
        for that. Less “wait, how do I book this?”, more “ooh, let’s go tonight.”
      </p>
      <div class="flex self-center w-full xl:w-fit">
        <SilverbirdSlidePreview2 />
      </div>
    </div>
  </div>

  <!-- What was the redesign approach? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What was the redesign approach?</h2>
      <p class="text-tertiary">
        I treated this redesign the way a good director treats a film: every
        scene (or in this case, screen) needed purpose, mood, and that “oof”
        factor. The goal wasn’t just to “make the site look nice.” It was to
        turn the website into a trailer for a great night out. One that makes
        you say, “This? This is worth putting pants on for.” <br /> I drew inspiration
        from high-drama, high-polish experiences like the SpaceX website. Because
        if they can make rocket science feel sexy, I can make booking movie tickets
        feel less like online banking.
      </p>
      <p class="text-tertiary">
        Here’s what I focused on: <br /> Embrace the drama: <br /> Dark mode, bold
        type, big visuals. It had to feel premium, cinematic, and a little like stepping
        into a dimly lit theatre just before the movie starts.
      </p>
      <ImageDisplay
        src="/work-images/silverbird/silverbird2.webp"
        alt="Silverbird image 2"
        label=""
        showLabel={false}
      />
      <p class="text-tertiary">
        Simplify the path to popcorn: <br /> Booking flows were reimagined. Less
        “click here, no here, wait go back” and more “boom, done.” <br />
        <br /> Design for discovery, not confusion: <br /> The homepage leads with
        Now Showing - full screen layouts with clear call to actions for booking
        tickets and viewing trailers. <br /><br /> Make mobile not suck: <br /> Special
        attention was given to small screens, fat thumbs, and short attention spans.
        The result? Simple, well organized layouts that works just as well on a phone
        in the backseat as it does on a laptop at work.
      </p>

      <div
        class="w-full h-fit xl:w-[1200px] xl:h-[348px] 2xl:w-[1410px] 2xl:h-[410px] self-center rounded-[4px] overflow-hidden"
      >
        <img
          class="w-full h-full object-cover"
          src="/work-images/silverbird/silverbirdmobileui.webp"
          loading="lazy"
          alt="silverbird mobile ui image"
        />
      </div>

      <div class="text-tertiary">
        <p>
          We didn’t overload it with 37 tabs and 12 dropdowns. The IA was built
          around what real humans need:
        </p>
        <br />
        <ul class="list-disc pl-[18px]">
          <li>Now Showing - What you can watch right now</li>
          <li>Coming Soon - What to look forward to</li>
          <li>Get Your Tickets - Where the magic (and payment) happens</li>
          <li>About - Who the h*** are these people!!!</li>
          <li>Contact - “Hi, I need help with...”</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- How did you approach the user flows? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">How did you approach the user flows?</h2>
      <p class="text-tertiary">
        Firstly, what’s the ideal flow for booking a movie ticket? <br /> The ideal
        flow is dead simple. You land on the homepage, see what's showing, click
        “Book,” go through a checkout process and pay. That's it. Fast, focused,
        frictionless. <br /><br /> Lastly, how should users browse? <br /> I split
        it into two clear paths: “Now Showing” and “Coming Soon.” You can filter
        by location and if you’re just browsing for vibes or planning a future movie
        night, “Coming Soon” has trailers and premiere date reminders to keep you
        hyped.
      </p>
    </div>
  </div>

  <!-- How does the new design solve real problems? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        How does the new design solve real problems?
      </h2>
      <p class="text-tertiary">
        To answer this, Usability testing gave me more insight to specific
        questions: <br /><br /> Is it easier to find showtimes? <br /> Showtimes
        are now front and center. No digging. The homepage shows a catalogue of movies
        playing today, with a “Book Now” and a clear “Watch Trailer” button to satisfy
        any lingering curiosity. Everything was designed to be location aware considering
        Silverbird Cinemas has multiple branches spread across different countries.
        <br /><br /> Why does the layout feel more immersive? <br /> We ditched the
        clutter and went simple & cinematic. Think full-width trailers, high-contrast
        dark mode, bold typography, and poster-led layouts. You feel like you're
        in the movie world already - not browsing a spreadsheet of listings. <br
        /><br /> Where did visual clarity and hierarchy improve? <br /> Every section
        has a clear purpose. Movies have visual priority, actions like “Book” or
        “Watch Trailer” are immediately visible, and supporting info like duration,
        rating, and genre is organized cleanly. On mobile, it’s all thumb-friendly
        - nothing crammed, nothing hidden.
      </p>
    </div>
  </div>

  <!-- Why does this redesign matter? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Why does this redesign matter?</h2>
      <p class="text-tertiary">
        Why does this redesign matter? <br /> Because the old site was hiding a great
        experience behind a bad one. Now, more people can find and book movie tickets
        faster, especially on their phones - which is where most users are coming
        from anyway. <br /><br /> What changed for mobile users? <br /> Everything.
        The new design feels like an app - not a squished desktop site. It’s smoother,
        faster, and actually built for thumbs. That alone can drive up bookings.
        <br /><br /> What does this redesign say about the brand? <br /> It says
        Silverbird isn’t stuck in the past. The site now feels like the premium in-cinema-experience
        : sleek, immersive, and modern. It builds trust, excitement, and relevance
        -especially with younger audiences.
      </p>
      <div class="flex self-center w-full xl:w-fit mb-[64px]">
        <SilverbirdSlidePreview3 />
      </div>
    </div>
  </div>

  <!-- What did you learn during this project? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What did you learn during this project?</h2>
      <p class="text-tertiary">
        That keeping it simple is actually the hard part. I wanted it to feel
        cinematic, but not at the cost of usability - and balancing those two
        worlds took more iteration than I expected. <br />
        <br /> Visual hierarchy. Every little layout decision changes how people
        navigate and feel. I found myself trying to be precise with spacing, scale,
        and flow more than fancy effects. <br /><br />And Yeah - that you don’t
        need a real client to do real work. I gave myself a brief, treated it
        like a high-stakes job, and walked away with something good. Standing
        ovation? Anybody?
      </p>
    </div>
  </div>

  <!-- What’s next? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What’s next?</h2>
      <p class="text-tertiary">
        Maybe Silverbird sees it - who knows? Maybe I take this to them, we
        align on next steps, and something real comes out of it. <br /> But even
        if it stays a personal project, it did its job. I sharpened my design instincts,
        practiced solving real UX problems, and pushed my skills in layout, flow,
        and feel. <br /> Whether it ends up in a pitch deck or a portfolio scroll,
        a win is a win.
      </p>
    </div>
  </div>

  <!-- Links -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Links</h2>

      <a target="" href="" class="underline text-primary hover:text-secondary"
        >Coming Soon</a
      >
    </div>
  </div>
</BaseLayout>
